@page "/invoices"
@layout MainLayout
@inherits UniBlocksGraph.Pages.InvoicesComponent

@using Radzen
@using Radzen.Blazor
@using UniBlocksGraph.Models.UniSql
@using Microsoft.AspNetCore.Identity
@using UniBlocksGraph.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<RadzenContent Container="main">
    <ChildContent>
        <RadzenHeading Size="H1" Text="Invoices">
        </RadzenHeading>
        <div class="row">
            <div class="col-md-12">
                @*RowSelect="@Grid0RowSelect"*@
                @*<RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
                </RadzenButton>*@
                <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@Payments" TItem="UniBlocksGraph.Models.UniSql.Invoice">
                    <Columns>
                        <RadzenGridColumn TItem="UniBlocksGraph.Models.UniSql.Invoice" Context="uniBlocksGraphModelsUniSqlInvoice" Property="InvoiceId" Title="Invoice Id">
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="UniBlocksGraph.Models.UniSql.Invoice" Context="uniBlocksGraphModelsUniSqlInvoice" Property="AServiceSubscription.Service.ServiceName" Title="Service Name">
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="UniBlocksGraph.Models.UniSql.Invoice" Context="uniBlocksGraphModelsUniSqlInvoice" Property="AServiceSubscription.Subscription.SubscriptionName" Title="Subscription Name">
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="UniBlocksGraph.Models.UniSql.Invoice" Context="uniBlocksGraphModelsUniSqlInvoice" Property="Transaction.Amount" Title="Amount">
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </div>
        </div>
    </ChildContent>
</RadzenContent>
@inject UniSqlService uniSqlService
@code {
    public IEnumerable<Invoice> Payments { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Payments = new List<Invoice>();
        Payments = uniSqlService.GetInvoicesCustom().Result;
    }
}